.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

input {
    border: none;
    width: 100%;
    background-color: white;
}
.selected {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}
input:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}


table.author td {
    border: 1px solid;
}
table.noborder td {
    border: 10px solid transparent;
}


td.scopus {
    background-color: rgba(255, 0, 0, 0.300);
}
td.ciencia {
    background-color: rgba(0, 255, 0, 0.300);
}


.inline {
    white-space: nowrap;
}


.bold {
    font-weight: bold;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: green;
}
.cyan {
    color: cyan;
}
.blue {
    color: blue;
}